body {
    background-color: cornsilk !important;
}

p {
    font-size: 15px;
    font-family: verdana;
    overflow: auto;
    margin-left: 3%;
}


h1 {
    color: firebrick;
    margin-left: 3%;
    font-size: 32px;
    text-align: center;
}

h3 {
    color: crimson;
    margin-left: 3%;
    font-size: 20px;
}

h4 {
    color: blue;
    margin-left: 3%;
    font-size: 16px;
}

img {
    width: 100%;
    height: auto;
    float: left;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin: 1%;
}

a {
    text-decoration: none;
    color: floralwhite;
    font-size: 20px;
    font-family: verdana;
}


header {
    width: 100%;
    background-color: #001f3f;
    text-align: center;
}

main {
    position: relative;
    background-color: cornsilk;
    margin-left: 15%;
    margin-right: 15%;
}

footer {
    color: aliceblue;
    background-color: darkslategrey;
    text-align: center;
    font-size: 16px;
    
    width: 100%;
}

@media only screen and (max-width:800px) {
    body {
        background-color: cornsilk;
    }

    p {
        font-size: 10.75px;
        font-family: verdana;
        overflow: auto;
        margin-left: 2%;
    }


    h1 {
        color: firebrick;
        margin-left: 2%;
        font-size: 24px;
    }

    h2 {
        color: firebrick;
        margin-left: 2;
        font-size: 18px;
    }

    h3 {
        color: crimson;
        margin-left: 2%;
        font-size: 15px;
    }

    h4 {
        color: blue;
        margin-left: 2%;
        font-size: 12px;
    }

    img {
        width: 100%;
        height: auto;
        float: left;
    }

    ul {
        list-style: none;

    }

    li {
        display: inline-block;
        margin: 1%;
    }

    a {
        text-decoration: none;
        color: floralwhite;
        font-size: 15px;
        font-family: verdana;
    }


    header {
        width: 100%;
        background-color: #001f3f;
        text-align: center;
    }

    main {
        position: relative;
        background-color: cornsilk;
        margin-left: 12%;
        margin-right: 12%;
    }

    footer {
        color: aliceblue;
        background-color: darkslategrey;
        text-align: center;
        font-size: 12px;
    }
}

@media only screen and (max-width:550px) {
    body {
        background-color: cornsilk;
    }

    p {
        font-size: 7.5px;
        font-family: verdana;
        overflow: auto;
        margin-left: 2%;
    }


    h1 {
        color: firebrick;
        margin-left: 2%;
        font-size: 16px;
    }

    h2 {
        color: firebrick;
        margin-left: 2%;
        font-size: 12px;

    }

    h3 {
        color: crimson;
        margin-left: 2%;
        font-size: 10px;
    }

    h4 {
        color: blue;
        margin-left: 2%;
        font-size: 8px;
    }

    img {
        width: 100%;
        height: auto;
    }

    ul {
        list-style: none;

    }

    li {
        display: inline-block;
        margin: 1%;
    }

    a {
        text-decoration: none;
        color: floralwhite;
        font-size: 10px;
        font-family: verdana;
    }


    header {
        width: 100%;
        background-color: #331F1D;
        text-align: center;
    }

    main {
        position: relative;
        background-color: cornsilk;
        margin-left: 9%;
        margin-right: 9%;
    }

    footer {
        color: aliceblue;
        background-color: darkslategrey;
        text-align: center;
        font-size: 8px;
    }
}
